---
version: '3.5'

networks:
  arc-integration:
    name: arc-integration
    driver: bridge
    ipam:
     config:
       - subnet: 172.19.0.0/24  

services:
  sbt:
    container_name: sbt
    image: mozilla/sbt:8u232_1.3.8
    networks:
      - arc-integration     
    command: tail -f /dev/null
    volumes:
      - ${PWD}:/app  
      - /tmp/pgp:/pgp
    working_dir: /app

  tensorflow_serving:
    image: tensorflow_serving/simple:latest
    networks:
      - arc-integration    
    ports:
      - 9001:9001
    build: tensorflow_serving/.

  postgres:
    image: postgres:10.4-alpine-init
    networks:
      - arc-integration  
    ports:
      - 5432:5432          
    build: postgres/.
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: "SecretPass!2018"

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    networks:
      - arc-integration    
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: "SecretPass!2018"
      MSSQL_PID: Express

  flask_serving:
    image: flask_serving/simple:latest
    networks:
      - arc-integration    
    ports:
      - 5000:5000        
    build: flask_serving/.
  
  minio:
    image: minio/minio:it
    build: minio/.
    networks:
      - arc-integration
    ports:
      - 9000:9000          
    command: server /it
    environment:
      MINIO_ACCESS_KEY: AKIAIOSFODNN7EXAMPLE
      MINIO_SECRET_KEY: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
