---
version: '3.5'

networks:
  arc-integration:
    name: arc-integration
    driver: bridge
    ipam:
     config:
       - subnet: 172.19.0.0/24  

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:5.0.2
    networks:
      - arc-integration
    environment:
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:5.0.2
    networks:
      - arc-integration
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:32181
      KAFKA_LISTENERS: CLIENT://kafka:29092,PLAINTEXT://kafka:29093
      KAFKA_ADVERTISED_LISTENERS: CLIENT://kafka:29092,PLAINTEXT://kafka:29093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CLIENT:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_NUM_PARTITIONS: 10
  
  kafka-rest:
    image: confluentinc/cp-kafka-rest:5.0.2
    networks:
      - arc-integration
    depends_on:
      - zookeeper
      - kafka
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_REST_BOOTSTRAP_SERVERS: kafka:29093
      KAFKA_REST_HOST_NAME: kafka-rest
      KAFKA_REST_LISTENERS: http://0.0.0.0:8082

  kafka-schema-registry:
    image: confluentinc/cp-schema-registry:5.0.2
    networks:
      - arc-integration
    depends_on:
      - zookeeper
      - kafka
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL: zookeeper:32181

  tensorflow_serving:
    image: tensorflow_serving/simple:latest
    networks:
      - arc-integration    
    build: tensorflow_serving/.

  sqlserver:
    image: microsoft/mssql-server-linux:2017-CU9
    networks:
      - arc-integration    
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: "SecretPass!2018"
      MSSQL_PID: Express

  postgres:
    image: postgres:10.4-alpine-init
    networks:
      - arc-integration    
    build: postgres/.
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: "SecretPass!2018"

  flask_serving:
    image: flask_serving/simple:latest
    networks:
      - arc-integration    
    build: flask_serving/.

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.0.1
    networks:
      - arc-integration
    environment:
      discovery.type: single-node
      network.host: 0.0.0.0
  
  minio:
    image: minio/minio:it
    build: minio/.
    networks:
      - arc-integration    
    command: server /it
    environment:
      MINIO_ACCESS_KEY: AKIAIOSFODNN7EXAMPLE
      MINIO_SECRET_KEY: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

  sbt:
    container_name: sbt
    image: mozilla/sbt:8u212_1.2.8 
    networks:
      - arc-integration     
    command: tail -f /dev/null
    environment:
      - SONATYPE_USERNAME
      - SONATYPE_PASSWORD
      - PGP_PASSPHRASE
    volumes:
      - ${PWD}:/app  
      - /tmp/pgp:/pgp
    working_dir: /app
